/*sign up form css*/

html,body {
	height:100%;
	width:100%;
	margin:0;
}
body {
	background: url("../form.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	display:flex;
}
.sign-form {
	margin:auto;

}

.sign-form h1{
	margin-top: 10px;
	font-family:sans-serif;
	color: white;
	font-size: 40px;


}

.sign-form input, select {
	display: block;
	width: 70% ;
	padding: 0 16px;
	height: 30px;
	text-align: center;
	border: none;
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;

}

#toggle {

	display: none;

}

.txt {
	margin: 15px 0;
	background:rgb(255,255,255,.5);
	border-radius: 6px;

}

.submit-btn {
	width: 150px;
	height: 45px;
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	background:#5F9EA0;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s

}

#showBtn{
	width: 50px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background:#5F9EA0;
	color: white;
	cursor: pointer;
	transition: 0.5s

}

#mapBtn{
	width: 80px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background:#5F9EA0;
	color: white;
	cursor: pointer;
	transition: 0.5s
}

#autoBtn{

	width: 100px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background:#5F9EA0;
	color: white;
	cursor: pointer;
	transition: 0.5s


}

.txtarea{
	border: none;
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;


}
.login-btn .visitor-btn{
        width: 60px;
	height: 20px;
       
	text-align: center;
	background:#5F9EA0;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
 
        margin-top: 1px;
        margin-right: 2px;
        position:absolute;
        float: right;
        top:0;
        right:0;
    
    
}

.login-btn, .visitor-btn, .submit-btn:hover {
	color: black;
	transform: scale(0.90);
}

.passdiv , .passCondiv{
	position: relative;

	
	
}

.passicon1 , .passicon2{
 	z-index: 9999;
	position: absolute;
	top: 30%;
	right: 10px;
}

#Map{
	display: none;
}

#sucResponse{
    
    display:none;
}



/*radio buttons*/
input.radio { 
    display: inline; 
    height: 15px;
    width: 15px;
}

input.radio1 { 
    display: inline;
    height: 15px;
    width: 15px;
}

input.radio2 { 
    height: 15px;
    width: 15px;
}
