/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2022, 1:50:34 PM
    Author     : USER
*/

html,body {
	height:100%;
	width:100%;
	margin:0;
}
body {
	background: url("../form.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	display:flex;
}
#sign-form {
	margin:auto;

}

#sign-form h1{
	margin-top: 10px;
	font-family:sans-serif;
	color: white;
	font-size: 40px;


}

#sign-form input, select {
	display: block;
	width: 70% ;
	padding: 0 16px;
	height: 30px;
	text-align: center;
	border: none;
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;

}

#toggle {

	display: none;

}

.txt {
	margin: 15px 0;
	background:rgb(255,255,255,.5);
	border-radius: 6px;

}

#account{
     display: none;
    
}

.submit-btn {
	width: 150px;
	height: 45px;
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	background:#5F9EA0;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s

}






#logout-btn{
        width: 60px;
	height: 25px;
       
	text-align: center;
	background:#5F9EA0;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
        display:none;
        margin-top: 1px;
        margin-right: 2px;
        position:absolute;
        float: right;
        top:0;
        right:0;
    
    
}


/* Add a black background color to the top navigation */
#navbar {
  display: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#navbar a.active {
  background-color: lightsteelblue;
  color: white;
}

.submit-btn:hover {
	color: black;
	transform: scale(0.90);
}

.passdiv {
	position: relative;

	
	
}

.passicon1 {
 	z-index: 9999;
	position: absolute;
	top: 30%;
	right: 10px;
}





