/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2022, 2:46:06 PM
    Author     : USER
*/

html,body {
	height:100%;
	width:100%;
	margin:0;
}
body {
	background: url("../form.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	display:flex;
}

#docplace {
    
    margin-top: 200px;
    float:right;
    
}
#aside {
	color: white;
	background-color: #A13D00;
	float: left;
	width: 25%;
	height: 100%;
	
/*---------------------------------*/	
	 
}
#linkplace{
    
    margin-top: 400px;
    float:left;
}